Q1. Discuss string slicing and provide example.

Ans:- String slicing allows us to extract a sub-string from a given string by stating the start and end indices.

In [3]:
name='Nitish kumar pandit'
name

'Nitish kumar pandit'

In [12]:
#slicing string upto the letter i need
name1=name[0:6]
name1

'Nitish'

In [14]:
#slicing string while skipping 1 letter
name2=name[0:6:2]
name2

'Nts'

Q2. Explain the key features of list in python.

Ans:-  The key features of lists are:

1. Lists can be modified after creation. You can add, remove, or change elements.
Ordered: List elements maintain their order, allowing you to access them by index.
2. Lists can hold objects of different types (e.g., integers, strings, or custom objects).
3. Lists can grow or shrink dynamically.
4. Can iterate over list elements using a for loop.
5. Lists allow mixing different types of elements within the same list.

Q3. Decribe how to access,modify and delete element in a list with example.

In [16]:
#Accessing elements of alist

list1=['mango','banana','pear','kiwi',50,65,2.15]
#accessing all element of the list using loop

for i in list1:
  print(i,end=' ')

mango banana pear kiwi 50 65 2.15

In [18]:
#Modifying element in list
#addition of new element
list1.append(50)
list1

['mango', 'banana', 'pear', 'kiwi', 50, 65, 2.15, 50]

In [22]:
#deletion of an item in list at an index
del list1[-1]
list1

['mango', 'banana', 'pear', 'kiwi', 50, 65, 2.15]

Q4. Compare and contrast tuples and lists with examples.

In [25]:
#syntax of list
list_ex=[1,2,3,'name','number']
#syntax of tuple
tuple_ex=(1,2,3,'name','number')

print(list_ex)
print(tuple_ex)

[1, 2, 3, 'name', 'number']
(1, 2, 3, 'name', 'number')

In [26]:
#mutabilty

#list are mutable
list_ex[0]=50
list_ex

[50, 2, 3, 'name', 'number']

In [28]:
#tuples are immutable
tuple_ex[0]=50

TypeError: 'tuple' object does not support item assignment

  Tuples have a fixed length, while lists can grow or shrink dynamically.

  Lists have more built-in functions compared to tuples.

In [30]:
dir(tuple_ex)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [31]:
dir(tuple_ex)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

Q5. Describe the key features of sets and provide examples of their use.

Ans:- Sets are an unordered collection of unique elements, meaning no duplicates are allowed. They are mutable, meaning they can be modified after creation. Sets are defined using the set() function or by using curly braces {}.

In [33]:
#Uniqueness of a set
setA={1,2,2,2,1,1,3,3,3,4,'cat','cat','dog'}
setA

{1, 2, 3, 4, 'cat', 'dog'}

In [37]:
#Mutability
setA.add('crow')
setA

{1, 2, 3, 4, 'cat', 'crow', 'dog'}

In [40]:
setA.remove('crow')
setA

{2, 3, 4, 'cat', 'dog'}

Q6.  Discuss the use cases of tuples and sets in Python programming.

Ans:- Both tuples and set have their uses in python.
  Some of the uses of tuples are-

  Database Records: Tuples are commonly used to represent database records.

  Function Return Values-Functions can return multiple values as a tuple. This is useful when we need to return related data together.

  Dictionary Keys- Tuples can be used as keys in dictionaries because they are immutable.

  Performance Optimization- Tuples are faster than lists for iteration, making them suitable for read-only scenarios.

      Some uses of sets are-

  Removing Duplicates: Set remove duplicate elements.

  Membership Testing: It checks if an element exists in a set efficiently.

  Set Operations: Perform set operations like union, intersection, and difference.

  Finding Unique Elements: Extract unique values from a sequence (e.g., removing duplicate names from a list).

Q7.  Describe how to add,modify and delete items in a dictionary with examples.

In [41]:
my_dic={'name':'Nitish','num':12345}
my_dic

{'name': 'Nitish', 'num': 12345}

In [42]:
#adding an item in dictionary
my_dic['address']='siliguri'
my_dic

{'name': 'Nitish', 'num': 12345, 'address': 'siliguri'}

In [43]:
#modifying existing dictionary
my_dic['name']='murty'
my_dic

{'name': 'murty', 'num': 12345, 'address': 'siliguri'}

In [45]:
#deletion of elements in a dictionary
del my_dic['name']
my_dic

{'num': 12345, 'address': 'siliguri'}

Q8.  Discuss the importance of dictionary keys being immutable and provide examples

Ans:- Dictionary keys being immutable means thet it cannot be changed after creation. This is a fundamental property of dictionaries, and it's essential for their proper functioning.

In [64]:
#making an immutible dictionary
my_dic2=dict(frozen=True,name='nitish',num=456789)
print(my_dic2)
type(my_dic2)

{'frozen': True, 'name': 'nitish', 'num': 456789}

dict

In [65]:
#Trying to edit/change the new dictionary
my_dic2['name']='murty'
my_dic2

{'frozen': True, 'name': 'murty', 'num': 456789}