1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in
the list.

In [ ]:
trail_list1=[1,2,3,4,5,6,7,8]

def sum_of_even(x):
  sum=0
  for i in x:
    if i%2==0:
      sum +=i
  return sum

sum_of_even(trail_list1)

20

2. Create a Python function that accepts a string and returns the reverse of that string.

In [ ]:
def rev_string(a):
  return a[::-1]

name="Nitish kumar pandit"
rev_string(name)

'tidnap ramuk hsitiN'

3. Implement a Python function that takes a list of integers and returns a new list containing the squares of
each number.

In [ ]:
def new_output(a):
  new=[]
  for i in a:
    new.append(i*2)
  return new

num=[1,2,3,4,5]
newlist=new_output(num)
print(num)
print(newlist)

[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]

4. Write a Python function that checks if a given number is prime or not from 1 to 200.

In [ ]:
def check(n):
  prime=[]
  for i in range(n+1):
    count=0
    for j in range(1,i+1):
      if i%j==0:
        count+=1
    if count==2:
      prime.append(i)
  return prime

print(check(200),end=' ')

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of
terms.

In [ ]:
def fibbo(n):
  fibbo=[]
  a=0
  b=1
  for i in range(n):
    fibbo.append(a)
    a,b=b,a+b
  return fibbo

fibbo(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

6. Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [ ]:
def power(n):
  for i in range(n):
    yield i**2

listv=iter(power(20))

In [ ]:
next(listv)

0

7. Implement a generator function that reads a file line by line and yields each line as a string.

In [ ]:
def read_file(file_path):
    try:
        with open(file_path, 'r') as file:
            for line in file:
                yield line.strip()
    except FileNotFoundError:
        print(f"File '{file_path}' not found.")

8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [ ]:
tuples=[(1,2),(2,8),(3,1)]
sorted_list=sorted(tuples,key= lambda x: x[1])
sorted_list

[(3, 1), (1, 2), (2, 8)]

9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

In [ ]:
temp=[27.42,65,28,42.14]
def conv(a):
    return a*(9/5)+32

fah=map(conv,temp)
print(list(fah))

[81.356, 149.0, 82.4, 107.852]

10. Create a Python program that uses `filter()` to remove all the vowels from a given string.

In [ ]:
sentence='This is a demo statement'

print(list(filter(lambda x: x not in 'aeiouAEIOU',sentence)),end='')

['T', 'h', 's', ' ', 's', ' ', ' ', 'd', 'm', ' ', 's', 't', 't', 'm', 'n', 't']

11) Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:

Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
product of the price per item and the quantity. The product should be increased by 10,- € if the value of the
order is smaller than 100,00 €.

Write a Python program using lambda and map.

In [2]:
# Given list
demo_list=[['Order number','Book Title and Author','Quantity','Price per Iteam'],[34587,98762,77226,88112],['Learning python,mark lutz','Programming Python,mark lutz',
            'Head first Python,Paul Berry','Einführung in Python3, Bernd Klein'],[4,5,3,3],[40.95,56.80,32.95,24.99]]
demo_list

[['Order number', 'Book Title and Author', 'Quantity', 'Price per Iteam'],
 [34587, 98762, 77226, 88112],
 ['Learning python,mark lutz',
  'Programming Python,mark lutz',
  'Head first Python,Paul Berry',
  'Einführung in Python3, Bernd Klein'],
 [4, 5, 3, 3],
 [40.95, 56.8, 32.95, 24.99]]

In [8]:
order_list = list(zip(demo_list[1],demo_list[2],demo_list[3],demo_list[4]))
calculate_total = lambda order: (order[0], order[3] * order[2] + 10 if order[3] * order[2] < 100 else order[3] * order[2])
total_list = list(map(calculate_total, order_list))
print(total_list)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]